{% extends 'base.html' %}
{% load tz %} <!--  time zone  -->

{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto">

            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}" alt=""
                     style="height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;">


                <h2>
                    {{ target_user.profile.nickname }}

                    {% if target_user == user %}
                        <a class="material-icons"
                           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;
                           text-decoration: none;"
                           href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                            <h5 style="margin: 0;">
                                edit
                            </h5>
                        </a>

                    {% endif %}
                </h2>

                <h5 style="margin-top: 3rem; margin-bottom: 3rem;">
                    {{ target_user.profile.message }}
                </h5>
            {% else %}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:create' %}">
                        <h2 style="margin-bottom: 3rem;">
                            CreateProfile
                        </h2>
                    </a>
                {% else %}
                    <h2>
                        프로필이 없습니다!
                    </h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}
            <a class="material-icons"
                           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem; text-decoration: none;
                                margin-right: 5px;"
                    href="{% url 'accountapp:update' pk=user.pk %}">
                settings
            </a>
            <a class="material-icons"
                           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem; text-decoration: none;";
                    href="{% url 'accountapp:delete' pk=user.pk %}">
                delete
            </a>
            {% endif %}

        </div>

        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>
    </div>

{% endblock %}