<div class="pragmatic_footer">

    <div class="pragmatic_footer_button">
        <a href="{% url 'pagesapp:notice' %}" style="text-decoration: none;"><span>공지사항</span></a> |
        <a href="{% url 'pagesapp:partnership' %}" style="text-decoration: none;"><span>제휴문의</span></a> |
        <a href="{% url 'pagesapp:about' %}" style="text-decoration: none;"><span>서비스 소개</span></a>
    </div>

    <div style="margin-top: 1rem;">
        <a href="{% url 'home' %}" style="text-decoration: none;">
            <h6 class="pragmatic_logo">AttackOnTitan Archive</h6>
        </a>
    </div>

</div>