<div class="pragmatic_header">

    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>

    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>

        {% if not user.is_authenticated %} <!-- 로그인이 되어있지 않다면 -->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" > <!-- GET 요청 -->
            <span>login</span>
        </a>
        {% else %}
        <form action="{% url 'accountapp:logout' %}" method="post" style="display: inline;"> <!-- POST 요청 -->
            {% csrf_token %}
            <button type="submit" class="btn btn-link" style="text-decoration: none; padding: 0; margin: 0;">
                <span>Logout</span>
            </button>
        </form>
        {% endif %}
    </div>
</div>