{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; margin-bottom: 1.5rem;">
    <a href="{% url 'projectapp:detail' pk=target_article.project.pk %}"
       class="btn btn-outline-dark rounded-pill px-4 py-2">
        🔗 {{ target_article.project.name }}
    </a>
</div>

<div>
    <div style="text-align: center; max-width: 700px; margin: 4rem auto">

        <h2 style="margin-bottom: 2rem;">
            {{ target_article.title }}
        </h2>

        <!-- 작성자 정보 (프로필 이미지 + 닉네임) -->
        <div style="display: flex; align-items: center; justify-content: center; gap: 0.5rem; margin-bottom: 1rem;">
            <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}"
               style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <img src="{{ target_article.writer.profile.image.url }}"
                     alt="Profile Image"
                     style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover; margin-right: 0.5rem;">
                <strong>{{ target_article.writer.profile.nickname }}</strong>
            </a>
        </div>


        <hr>

        <img src="{{ target_article.image.url }}" alt=""
             style="display: block; margin: 2rem auto; max-width: 100%; height: auto;">

        <p>
            <p>{{ target_article.content|linebreaksbr }}</p>
        </p>

        {% if user == target_article.writer %}
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
               class="btn btn-secondary rounded-pill col-2 mt-3 mb-3"
               style="margin-right: 1rem;">
                업데이트
            </a>

            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
               class="btn btn-dark rounded-pill col-2 mt-3 mb-3">
                게시물 삭제
            </a>
        {% endif %}

        <hr style="margin-top: 1.5rem; margin-bottom: 0rem;">

        <div style="text-align: center; margin-bottom: 4rem;">
            <!-- 이전 게시글 버튼 -->
        {% if prev_article %}
            <a href="{% url 'articleapp:detail' pk=prev_article.pk %}"
               class="btn btn-outline-secondary rounded-pill px-4 py-2 mt-4 me-2">
                이전 게시물
            </a>
        {% endif %}

        <!-- 다음 게시글 버튼 -->
        {% if next_article %}
            <a href="{% url 'articleapp:detail' pk=next_article.pk %}"
               class="btn btn-outline-primary rounded-pill px-4 py-2 mt-4">
                다음 게시물
            </a>
        {% endif %}
        </div>

        {% include 'commentapp/create.html' with article=target_article %}

        {% for cmt in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=cmt %}
        {% endfor %}
    </div>
</div>

{% endblock %}